In [1]:
# === LOAD LIBRARIES ===

# === Exploratory Data Analysis (EDA) Libraries ===
import pandas as pd  # Data manipulation and analysis
import numpy as np  # Numerical operations
import matplotlib.pyplot as plt  # Plotting and visualization
import seaborn as sns  # Statistical data visualization

# === Scikit-learn: Model Selection and Evaluation ===
from sklearn.model_selection import (train_test_split,   # Split data into training and test sets
                                     cross_val_score,    # Evaluate model using cross-validation
                                     GridSearchCV)       # Hyperparameter tuning via grid search

from sklearn.metrics import (accuracy_score,     # Classification accuracy
                             precision_score,    # Precision metric
                             recall_score,       # Recall metric
                             f1_score)           # F1 score metric

# === Scikit-learn: Classification Algorithms ===
from sklearn.ensemble import RandomForestClassifier  # Ensemble method using decision trees
from sklearn.tree import DecisionTreeClassifier  # Decision tree classifier
from sklearn.neighbors import KNeighborsClassifier  # K-nearest neighbors classifier
from sklearn.svm import SVC  # Support Vector Classifier
from sklearn.naive_bayes import GaussianNB  # Naive Bayes classifier (Gaussian)

# === Additional Models ===
from xgboost import XGBClassifier  # Extreme Gradient Boosting classifier

In [2]:
# === Importing the CSV file ===
file_path = r"C:\Users\AKIN-JOHNSON\Desktop\Workspace\TDI\Comprehensive_Banking_Database.csv" # the file path of the dataset
df = pd.read_csv(file_path)
df.head() # top 5 rows of the dataset

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,...,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,...,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023,1
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,...,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023,1
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,...,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023,1
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,...,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023,1
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,...,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023,1

In [3]:
# === VIEWING THE WHOLE DATASET FOR THE COLUMNS ===
# Show all columns
pd.set_option('display.max_columns', None)
df.head()

,Customer ID,First Name,Last Name,Age,Gender,Address,City,Contact Number,Email,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,TransactionID,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Branch ID,Loan ID,Loan Amount,Loan Type,Interest Rate,Loan Term,Approval/Rejection Date,Loan Status,CardID,Card Type,Credit Limit,Credit Card Balance,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback ID,Feedback Date,Feedback Type,Resolution Status,Resolution Date,Anomaly
0,1,Joshua,Hall,45,Male,Address_1,Fort Worth,19458794854,joshua.hall@kag.com,Current,1313.38,5/26/2006,4/23/2023,1,12/7/2023,Withdrawal,1457.61,2770.99,43,1,32200.06,Mortgage,2.64,36,5/11/2021,Rejected,1,AMEX,1737.88,4524.32,226.22,11/26/2023,3/20/2023,8142,1,10/6/2023,Suggestion,Resolved,1/22/2023,1
1,2,Mark,Taylor,47,Female,Address_2,Louisville,19458794855,mark.taylor@kag.com,Current,5988.46,3/2/2006,1/27/2023,2,4/27/2023,Deposit,1660.99,7649.45,63,2,47743.52,Auto,2.48,36,7/30/2020,Approved,2,MasterCard,1799.36,856.70,42.84,11/5/2023,6/16/2023,4306,2,4/7/2023,Complaint,Resolved,8/27/2023,1
2,3,Joseph,Flores,25,Female,Address_3,Philadelphia,19458794856,joseph.flores@kag.com,Current,8277.88,7/19/2015,1/1/2023,3,4/5/2023,Deposit,839.91,7437.97,82,3,47981.31,Auto,7.84,24,1/17/2021,Closed,3,AMEX,6112.96,3242.36,162.12,1/8/2023,3/20/2023,4842,3,9/7/2023,Praise,Pending,5/11/2023,1
3,4,Kevin,Lee,52,Other,Address_4,Oklahoma City,19458794857,kevin.lee@kag.com,Savings,7487.21,1/30/2008,8/2/2023,4,7/28/2023,Withdrawal,4908.89,12396.10,41,4,4482.80,Personal,7.21,48,2/15/2022,Approved,4,MasterCard,2069.41,4329.17,216.46,9/8/2023,10/15/2023,9463,4,5/28/2023,Complaint,Resolved,7/5/2023,1
4,5,Linda,Johnson,68,Other,Address_5,Phoenix,19458794858,linda.johnson@kag.com,Savings,6993.55,5/25/2021,3/27/2023,5,1/16/2023,Transfer,589.07,6404.48,9,5,1092.33,Mortgage,5.37,12,7/31/2020,Approved,5,Visa,2765.30,25.72,1.29,3/4/2023,7/27/2023,2209,5,2/12/2023,Complaint,Resolved,11/21/2023,1

In [4]:
# === INSPECTING THE DATASET ===

# === Missing values ===
df.isnull().sum()

Customer ID                          0
First Name                           0
Last Name                            0
Age                                  0
Gender                               0
Address                              0
City                                 0
Contact Number                       0
Email                                0
Account Type                         0
Account Balance                      0
Date Of Account Opening              0
Last Transaction Date                0
TransactionID                        0
Transaction Date                     0
Transaction Type                     0
Transaction Amount                   0
Account Balance After Transaction    0
Branch ID                            0
Loan ID                              0
Loan Amount                          0
Loan Type                            0
Interest Rate                        0
Loan Term                            0
Approval/Rejection Date              0
Loan Status                          0
CardID                               0
Card Type                            0
Credit Limit                         0
Credit Card Balance                  0
Minimum Payment Due                  0
Payment Due Date                     0
Last Credit Card Payment Date        0
Rewards Points                       0
Feedback ID                          0
Feedback Date                        0
Feedback Type                        0
Resolution Status                    0
Resolution Date                      0
Anomaly                              0
dtype: int64

In [5]:
# === summary description of the dataset ===
df.describe()

,Customer ID,Age,Contact Number,Account Balance,TransactionID,Transaction Amount,Account Balance After Transaction,Branch ID,Loan ID,Loan Amount,Interest Rate,Loan Term,CardID,Credit Limit,Credit Card Balance,Minimum Payment Due,Rewards Points,Feedback ID,Anomaly
count,5000.000000,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,43.469800,1.945880e+10,5060.570918,2500.500000,2508.501144,5037.418898,50.586800,2500.500000,25501.042806,5.505038,36.520800,2500.500000,5549.035830,2487.40084,124.370134,4966.161800,2500.500000,0.880000
std,1443.520003,15.145672,1.443520e+03,2849.356481,1443.520003,1450.194986,4053.220017,28.499539,1443.520003,14039.732628,2.629752,16.924315,1443.520003,2581.718105,1446.80295,72.340102,2901.410915,1443.520003,0.475021
min,1.000000,18.000000,1.945879e+10,107.200000,1.000000,10.570000,-4878.760000,1.000000,1.000000,1006.370000,1.000000,12.000000,1.000000,1007.000000,1.45000,0.070000,1.000000,1.000000,-1.000000
25%,1250.750000,30.000000,1.945880e+10,2582.777500,1250.750000,1241.150000,2047.205000,26.000000,1250.750000,13315.305000,3.200000,24.000000,1250.750000,3314.065000,1243.51750,62.180000,2475.250000,1250.750000,1.000000
50%,2500.500000,43.000000,1.945880e+10,5075.500000,2500.500000,2494.025000,5089.785000,50.000000,2500.500000,25909.705000,5.520000,36.000000,2500.500000,5567.485000,2461.62000,123.080000,4950.500000,2500.500000,1.000000
75%,3750.250000,57.000000,1.945880e+10,7509.760000,3750.250000,3796.222500,8036.367500,75.000000,3750.250000,37441.570000,7.832500,48.000000,3750.250000,7786.040000,3722.58000,186.125000,7483.250000,3750.250000,1.000000
max,5000.000000,69.000000,1.945880e+10,9998.110000,5000.000000,4998.390000,14911.380000,99.000000,5000.000000,49993.490000,10.000000,60.000000,5000.000000,9997.780000,4997.11000,249.860000,9999.000000,5000.000000,1.000000

In [6]:
# === brief information on the dataset ===
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 40 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        5000 non-null   int64
 1   First Name                         5000 non-null   object
 2   Last Name                          5000 non-null   object
 3   Age                                5000 non-null   int64
 4   Gender                             5000 non-null   object
 5   Address                            5000 non-null   object
 6   City                               5000 non-null   object
 7   Contact Number                     5000 non-null   int64
 8   Email                              5000 non-null   object
 9   Account Type                       5000 non-null   object
 10  Account Balance                    5000 non-null   float64
 11  Date Of Account Opening            5000 non-null   object
 12  Last Transaction Date              5000 non-null   object
 13  TransactionID                      5000 non-null   int64
 14  Transaction Date                   5000 non-null   object
 15  Transaction Type                   5000 non-null   object
 16  Transaction Amount                 5000 non-null   float64
 17  Account Balance After Transaction  5000 non-null   float64
 18  Branch ID                          5000 non-null   int64
 19  Loan ID                            5000 non-null   int64
 20  Loan Amount                        5000 non-null   float64
 21  Loan Type                          5000 non-null   object
 22  Interest Rate                      5000 non-null   float64
 23  Loan Term                          5000 non-null   int64
 24  Approval/Rejection Date            5000 non-null   object
 25  Loan Status                        5000 non-null   object
 26  CardID                             5000 non-null   int64
 27  Card Type                          5000 non-null   object
 28  Credit Limit                       5000 non-null   float64
 29  Credit Card Balance                5000 non-null   float64
 30  Minimum Payment Due                5000 non-null   float64
 31  Payment Due Date                   5000 non-null   object
 32  Last Credit Card Payment Date      5000 non-null   object
 33  Rewards Points                     5000 non-null   int64
 34  Feedback ID                        5000 non-null   int64
 35  Feedback Date                      5000 non-null   object
 36  Feedback Type                      5000 non-null   object
 37  Resolution Status                  5000 non-null   object
 38  Resolution Date                    5000 non-null   object
 39  Anomaly                            5000 non-null   int64
dtypes: float64(8), int64(11), object(21)
memory usage: 1.5+ MB

In [7]:
# === check for duplicates ===
df.duplicated().sum()

0

In [8]:
# === check for correct datatype ===
df.dtypes

Customer ID                            int64
First Name                            object
Last Name                             object
Age                                    int64
Gender                                object
Address                               object
City                                  object
Contact Number                         int64
Email                                 object
Account Type                          object
Account Balance                      float64
Date Of Account Opening               object
Last Transaction Date                 object
TransactionID                          int64
Transaction Date                      object
Transaction Type                      object
Transaction Amount                   float64
Account Balance After Transaction    float64
Branch ID                              int64
Loan ID                                int64
Loan Amount                          float64
Loan Type                             object
Interest Rate                        float64
Loan Term                              int64
Approval/Rejection Date               object
Loan Status                           object
CardID                                 int64
Card Type                             object
Credit Limit                         float64
Credit Card Balance                  float64
Minimum Payment Due                  float64
Payment Due Date                      object
Last Credit Card Payment Date         object
Rewards Points                         int64
Feedback ID                            int64
Feedback Date                         object
Feedback Type                         object
Resolution Status                     object
Resolution Date                       object
Anomaly                                int64
dtype: object

In [9]:
# === Drop the following columns === 
columns_to_drop = ['Customer ID',               # Unique ID, no predictive power
                   'First Name', 'Last Name',   # Names are not useful for modeling
                   'Address', 'City',           # Too specific, potentially high cardinality
                   'Contact Number', 'Email',   # Personally identifiable and irrelevant
                   'TransactionID',             # Unique, not helpful
                   'Branch ID', 'Loan ID',      # Identifiers only
                   'CardID',                    # Card ID is not predictive
                   'Feedback ID',               # Unique identifier
                   'Anomaly'                    # Possible output from a different model like Isolation Forest (it is optional to drop, but i choose to drop)
]
df = df.drop(columns=columns_to_drop, axis=1)
df.head()

,Age,Gender,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Loan Amount,Loan Type,Interest Rate,Loan Term,Approval/Rejection Date,Loan Status,Card Type,Credit Limit,Credit Card Balance,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback Date,Feedback Type,Resolution Status,Resolution Date
0,45,Male,Current,1313.38,5/26/2006,4/23/2023,12/7/2023,Withdrawal,1457.61,2770.99,32200.06,Mortgage,2.64,36,5/11/2021,Rejected,AMEX,1737.88,4524.32,226.22,11/26/2023,3/20/2023,8142,10/6/2023,Suggestion,Resolved,1/22/2023
1,47,Female,Current,5988.46,3/2/2006,1/27/2023,4/27/2023,Deposit,1660.99,7649.45,47743.52,Auto,2.48,36,7/30/2020,Approved,MasterCard,1799.36,856.70,42.84,11/5/2023,6/16/2023,4306,4/7/2023,Complaint,Resolved,8/27/2023
2,25,Female,Current,8277.88,7/19/2015,1/1/2023,4/5/2023,Deposit,839.91,7437.97,47981.31,Auto,7.84,24,1/17/2021,Closed,AMEX,6112.96,3242.36,162.12,1/8/2023,3/20/2023,4842,9/7/2023,Praise,Pending,5/11/2023
3,52,Other,Savings,7487.21,1/30/2008,8/2/2023,7/28/2023,Withdrawal,4908.89,12396.10,4482.80,Personal,7.21,48,2/15/2022,Approved,MasterCard,2069.41,4329.17,216.46,9/8/2023,10/15/2023,9463,5/28/2023,Complaint,Resolved,7/5/2023
4,68,Other,Savings,6993.55,5/25/2021,3/27/2023,1/16/2023,Transfer,589.07,6404.48,1092.33,Mortgage,5.37,12,7/31/2020,Approved,Visa,2765.30,25.72,1.29,3/4/2023,7/27/2023,2209,2/12/2023,Complaint,Resolved,11/21/2023

In [10]:
# === Checking for unique values in some columns ===
columns_for_unique_values = ['Gender', 'Account Type', 'Transaction Type', 'Loan Type', 'Loan Status', 'Card Type', 'Feedback Type', 'Resolution Status']

# === use a loop to iterate through it ===
for i in columns_for_unique_values:
    print(f'{i} => {df[i].unique()}')

Gender => ['Male' 'Female' 'Other']
Account Type => ['Current' 'Savings']
Transaction Type => ['Withdrawal' 'Deposit' 'Transfer']
Loan Type => ['Mortgage' 'Auto' 'Personal']
Loan Status => ['Rejected' 'Approved' 'Closed']
Card Type => ['AMEX' 'MasterCard' 'Visa']
Feedback Type => ['Suggestion' 'Complaint' 'Praise']
Resolution Status => ['Resolved' 'Pending']

In [22]:
# Map loan status to binary classification:
# Approved or Closed = 1 (for closed, the loan was initially approved and paid off. That is why i am mapping Approved and Closed as 1)
# Rejected = 0
df['Loan Status'] = df['Loan Status'].map({'Approved': 1,
                                                  'Closed': 1,
                                                  'Rejected': 0
                                                 })
df

,Age,Gender,Account Type,Account Balance,Date Of Account Opening,Last Transaction Date,Transaction Date,Transaction Type,Transaction Amount,Account Balance After Transaction,Loan Amount,Loan Type,Interest Rate,Loan Term,Approval/Rejection Date,Loan Status,Card Type,Credit Limit,Credit Card Balance,Minimum Payment Due,Payment Due Date,Last Credit Card Payment Date,Rewards Points,Feedback Date,Feedback Type,Resolution Status,Resolution Date
0,45,Male,Current,1313.38,5/26/2006,4/23/2023,12/7/2023,Withdrawal,1457.61,2770.99,32200.06,Mortgage,2.64,36,5/11/2021,0,AMEX,1737.88,4524.32,226.22,11/26/2023,3/20/2023,8142,10/6/2023,Suggestion,Resolved,1/22/2023
1,47,Female,Current,5988.46,3/2/2006,1/27/2023,4/27/2023,Deposit,1660.99,7649.45,47743.52,Auto,2.48,36,7/30/2020,1,MasterCard,1799.36,856.70,42.84,11/5/2023,6/16/2023,4306,4/7/2023,Complaint,Resolved,8/27/2023
2,25,Female,Current,8277.88,7/19/2015,1/1/2023,4/5/2023,Deposit,839.91,7437.97,47981.31,Auto,7.84,24,1/17/2021,1,AMEX,6112.96,3242.36,162.12,1/8/2023,3/20/2023,4842,9/7/2023,Praise,Pending,5/11/2023
3,52,Other,Savings,7487.21,1/30/2008,8/2/2023,7/28/2023,Withdrawal,4908.89,12396.10,4482.80,Personal,7.21,48,2/15/2022,1,MasterCard,2069.41,4329.17,216.46,9/8/2023,10/15/2023,9463,5/28/2023,Complaint,Resolved,7/5/2023
4,68,Other,Savings,6993.55,5/25/2021,3/27/2023,1/16/2023,Transfer,589.07,6404.48,1092.33,Mortgage,5.37,12,7/31/2020,1,Visa,2765.30,25.72,1.29,3/4/2023,7/27/2023,2209,2/12/2023,Complaint,Resolved,11/21/2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,21,Other,Savings,5564.12,3/12/2020,7/14/2023,11/29/2023,Withdrawal,1612.91,7177.03,34684.98,Auto,4.07,48,6/10/2021,0,AMEX,4347.17,2017.13,100.86,7/19/2023,2/10/2023,7530,4/12/2023,Complaint,Pending,1/23/2023
4996,27,Female,Savings,2625.13,5/19/2011,3/21/2023,7/7/2023,Deposit,2493.45,5118.58,45181.31,Auto,7.47,48,12/24/2020,1,MasterCard,8379.59,853.33,42.67,2/16/2023,12/24/2023,8796,9/7/2023,Complaint,Pending,9/17/2023
4997,45,Female,Current,2732.76,12/2/2011,3/9/2023,1/25/2023,Withdrawal,418.38,2314.38,44660.01,Auto,7.15,60,3/6/2020,0,MasterCard,8208.84,228.49,11.42,2/23/2023,9/6/2023,9966,10/23/2023,Suggestion,Resolved,2/5/2023
4998,58,Female,Current,3006.01,5/14/2000,5/17/2023,9/27/2023,Deposit,3160.96,-154.95,35551.65,Mortgage,8.82,24,8/13/2021,0,Visa,3083.35,325.37,16.27,9/8/2023,1/12/2023,538,5/20/2023,Complaint,Pending,3/3/2023
4999,35,Male,Current,7022.99,7/11/2006,1/4/2023,8/28/2023,Withdrawal,281.35,6741.64,16784.32,Auto,4.01,12,9/23/2021,0,AMEX,2015.38,3078.08,153.90,5/30/2023,6/3/2023,1816,9/6/2023,Suggestion,Resolved,5/23/2023